---
import Layout from '../layouts/Layout.astro';

import Hero from '@/components/Sections/Hero.astro';
import About from '@/components/Sections/About.astro';
import Experience from '@/components/Sections/Experience.astro';

import Projects from '@/components/Sections/Projects.astro';
import Skills from '@/components/Sections/Skills.astro';
import Education from '@/components/Sections/Education.astro';
import KeyBoardManager from '@/components/KeyBoardManager.astro';
---

<Layout title="Minimalist Portfolio">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>

	<KeyBoardManager />

</Layout>
